.speech-bubble {
    position: relative;
    background: #0977ff;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.594em solid transparent;
    border-right-color: #0977ff;
    border-left: 0;
    margin-top: -0.594em;
    margin-left: -0.594em;
}


.texto-burbuja {
    color:white;
    font-size: medium;
    margin-left: 5px;
    padding: 10px;
}

.circle-text {
display: table-cell;
height: 40px; /*change this and the width
for the size of your initial circle*/
width: 40px;
text-align: center;
vertical-align: middle;
border-radius: 50%;
/*make it pretty*/
background: blue;
color: #fff;
font: 10px "josefin sans", arial; /*change this
for font-size and font-family*/
}

ion-content {
    --background: url('../../../assets/img/bg.jpg') repeat 100% 100%;
}