.test-modal {
    .modal-wrapper {
        position: absolute;
        top: 0 !important;
        left: 0 !important;
        display: block;
        width: 100% !important;
        height: 100% !important;
      } 
}

ion-content {
    --background: url('../../assets/img/bg.jpg') repeat 100% 100%;
}