<ion-header>  
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-item-divider color="primary">
<h5 class="texto" style="color:white">Perfecto! Ahora recibiras un mail confirmando si todo salio bien...<br><br></h5>        
      </ion-item-divider>
      <div class="divisor"></div>
<p class="texto" style="color:dimgray">Desde aca podes ver el estado de tus turnos</p>
    </ion-row>
    <ion-row>
    <ion-button [href]="'/historial-turnos'" class=" centrar" color="danger">
    <ion-icon slot="end" name="list"></ion-icon>
      Ver mis turnos</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
