<ion-header>

</ion-header>

<ion-content>
  <ion-grid *ngIf="cargoOK">
    <ion-row>
      <ion-col>

        <ion-item color="primary" class="titulo">
          <p class="titulo" style="text-align: center;">Buenisimo! 🤗<br><br>
            Ingresa para confirmar tu turno para el dia
            <b>{{fechaShow | date: 'dd/MM/yyyy'}} a las {{hora}} hs</b> 
            para reparar tu {{ (equipoReference | doc | async)?.descripcion }} <br><br>
          </p>
          <div class="line-separator"></div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="autenticado == false" justify-content-center align-items-center style="height: 100%">
      <ion-button icon-right block clear (click)="signInGoogle()" color="danger">
        <ion-icon slot="end" name="logo-google"></ion-icon>
        Ingresar con Google
      </ion-button>
    </ion-row>
    <!-- <ion-row *ngIf="autenticado == false" justify-content-center align-items-center style="height: 100%">
      <ion-button icon-right block clear (click)="signInFacebook()" color="primary">
        <ion-icon slot="end" name="logo-facebook"></ion-icon>
        Ingresar con Facebook
      </ion-button>
    </ion-row> -->
    <ion-row>
       <ion-col class="centrar" size="7">
        <ion-item *ngIf="autenticado" color="light">
          <ion-label color="primary" fixed>Si, Queres...</ion-label>
          <ion-input #te type="tel" placeholder="dejanos aca tu telefono" (ionChange)="setTel(te.value)"></ion-input>
        </ion-item>
      <ion-item color="primary" *ngIf="autenticado">
      <p class="texto" >Bien {{nombreUsuario}} 👍  por ultimo hace click para confirmar el turno</p>     
      <ion-button slot="end" size="small" color="danger" *ngIf="autenticado" class="centrar" (click)="logOut()">No soy {{nombreUsuario}}</ion-button>
    </ion-item>  
    <ion-item color="light" *ngIf="autenticado"> 
      <p class="texto" >Es importante que antes de confirmar leas los <b>Terminos y Condiciones</b> del servicio.</p>
    </ion-item>
    <ion-item *ngIf="autenticado" color="light">
      <ion-label position="stacked">Terminos y condiciones de la reparacion</ion-label>
      <ion-textarea
        disabled
        readonly
        rows="4"
        value="{{(reparacionReference | doc | async)?.terminos}}">
      </ion-textarea>
    </ion-item>
    <ion-item *ngIf="autenticado" color="light">
      <ion-label>Acepto los terminos y condiciones</ion-label>
      <ion-checkbox slot="end" (ionChange)="aceptar($event)"></ion-checkbox>
    </ion-item>
    </ion-col>
    </ion-row>
   <div></div>    
    <ion-row *ngIf="autenticado && terminosAceptados" justify-content-center align-items-center style="height: 100%">
      <ion-button icon-right block clear color="secondary" (click)="grabar()">
        <ion-icon slot="end" name="mail"></ion-icon>
        Confirmar turno
      </ion-button>
    </ion-row>
  </ion-grid>

</ion-content>