<ion-header>

</ion-header>

<ion-content>
  <ion-grid *ngIf="cargoOK">
    <ion-row>
      <ion-col>

        <ion-item color="primary" class="titulo">
          <p class="titulo" style="text-align: center;">Buenisimo! 🤗<br><br>
            Ingresa para confirmar tu turno para el dia
            <b>{{fecha | date: 'dd/MM/yyyy'}} a las {{hora}} hs</b> 
            para reparar tu {{ (equipoReference | doc | async)?.descripcion }} <br><br>
          </p>
          <div class="line-separator"></div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="autenticado == false" justify-content-center align-items-center style="height: 100%">
      <ion-button icon-right block clear (click)="signInGoogle()" color="danger">
        <ion-icon slot="end" name="logo-google"></ion-icon>
        Ingresar con Google
      </ion-button>
    </ion-row>
    <ion-row *ngIf="autenticado == false" justify-content-center align-items-center style="height: 100%">
      <ion-button icon-right block clear (click)="signInFacebook()" color="darkBlue">
        <ion-icon slot="end" name="logo-facebook"></ion-icon>
        Ingresar con Facebook
      </ion-button>
    </ion-row>
    <ion-item-divider color="light" *ngIf="autenticado">
      <p class="texto" >Bien {{nombreUsuario}} 😃 por ultimo hace click para confirmar el turno</p>     
    </ion-item-divider>  
    <ion-button size="small" fill="outline" color="danger" *ngIf="autenticado" class="centrar" (click)="logOut()">No soy {{nombreUsuario}}</ion-button>
    <div></div>
    <ion-row *ngIf="autenticado" justify-content-center align-items-center style="height: 100%">
      <ion-button icon-right block clear color="secondary" size="small" (click)="grabar()">
        <ion-icon slot="end" name="mail"></ion-icon>
        Confirmar turno
      </ion-button>
    </ion-row>
  </ion-grid>

</ion-content>