<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item color="primary">
          <p>Ingresa tu e-mail y clave</p>
        </ion-item>
        <ion-item color="light">
            <ion-input clear-input='true' required type="text" placeholder="e-mail"></ion-input>
          </ion-item>
          <ion-item color="light">
              <ion-input clear-input='true' required type="password" placeholder="clave"></ion-input>
          </ion-item>
          <ion-button expand="full">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
