<ion-header>

</ion-header>

<ion-content>
<ion-item color="primary">
<h5 class="titulo animated fadeIn">Ahora selecciona tu equipo</h5>
</ion-item>
<ion-row class="contenedor animated fadeIn">
  <ion-col  size-lg="11" size-sm="12">
    <ion-slides *ngIf="isLoad" scrollbar="true" [options]="slideOpts">
      <ion-slide *ngFor="let equipo of _equipos">
        <ion-card color="light">
          <ion-card-header class="texto">
            <p class="text">
              <b>{{equipo.descripcion}}</b>
            </p>
          </ion-card-header>
          <div class="line-separator"></div>
          <ion-card-content>
            <ion-row>
              <ion-col size="4">
                <mat-form-field [style.width]="'100%'">
              <mat-select [formControl]="colorControl" placeholder="Color" required (selectionChange)="cambioColor($event)">
                  <mat-option *ngFor="let color of _colores" [hidden]="color.equipo_id != equipo.id" [value]="color.id">
                    {{color.color}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="colorControl.hasError('required')">Selecciona un color</mat-error>
              </mat-form-field>
              </ion-col>
              <ion-col size="8">
                <img class="image animated fadeIn" src="{{equipo.imagen}}">
              </ion-col>
            </ion-row>
            <ion-button (click)="seleccionarReparacion(equipo.id)" expand="full">Seleccionar equipo</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>
<p *ngIf="isLoad" class="texto" style="font-size:14px">✋ Desliza con el mouse para ver mas equipos</p>
</ion-content>
