<app-menu></app-menu>
<ion-content *ngIf="autenticado && permisos">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item color="light">
        <mat-form-field style="width: 80%;">
            <mat-select #cat placeholder="Selecciona una categoria" (selectionChange)="getSubCategorias($event)">
              <mat-option name="categoria.orden" *ngFor="let categoria of categorias | async" [value]="categoria.id">               
                      {{categoria.descripcion}}                                
              </mat-option>
            </mat-select>
          </mat-form-field>         
<ion-button slot="end" icon-only color="primary" size="small" mat-raised-button matTooltip="Editar" (click)="alertEditarCategoria(cat.value, cat.selected?.viewValue)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button slot="end" icon-only color="secondary" size="small" mat-raised-button matTooltip="Agregar" (click)="alertNuevaCategoria()">
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-button slot="end" icon-only color="danger" size="small" mat-raised-button matTooltip="Eliminar" (click)="alertEliminaCategoria(cat.value)">
                  <ion-icon name="close"></ion-icon>
              </ion-button>
    </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let reparacion of reparaciones | async" color="light">
            <ion-label>
                <p class="letra">{{reparacion.descripcion}}</p>
                <p style="font-size: 11px; color:black">{{reparacion.accion}}</p>
                <p style="font-size: 10px; color:gray">Terminos: {{reparacion.terminos}}</p>
            </ion-label>
             
              <ion-button  slot="end" icon-only color="primary" size="small" mat-raised-button matTooltip="Editar" (click)="alertEditarReparacion(reparacion.id, reparacion.descripcion, reparacion.accion, reparacion.terminos)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                
                  <ion-button slot="end" icon-only color="danger" size="small" mat-raised-button matTooltip="Eliminar" (click)="alertEliminaReparacion(reparacion.id)">
                      <ion-icon name="close"></ion-icon>
                    </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="tieneReparaciones">
      <ion-fab-button (click)="alertAddReparacion(cat.value)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
