<ion-content>
  <ion-grid>
    <ion-item-divider color="primary">Chatea con nosotros para lo que necesites!</ion-item-divider>
    <div class="speech-bubble animated bounceInLeft">
         <p class="texto-burbuja">Contanos... en que podemos ayudarte?</p>
         <ion-icon color="light" class="double-check" name="done-all"></ion-icon>
    </div>
    <div class="speech-bubbleRes animated bounceInRight">
        <p class="texto-burbuja">Para cuando va a estar reparado mi equipo? Gracias!!</p>               
    </div>
    <div class="speech-bubble animated bounceInLeft">
        <p class="texto-burbuja">La reparacion de cambio de vidrio para un Galaxy S8 Plus es de 3 dias... 
          Cuando este listo nos vamos a estar contactando para que saques un turno para retirarlo!</p>               
    </div>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-textarea rows="3" placeholder="Escribi aca tu mensaje"></ion-textarea >
      </ion-col>
      <ion-col size="2" style="margin-top:-10px;">
        <ion-button shape="round" size="small">
          Enviar
          <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
