.titulo {
    font-family: "Trebuchet MS",
    Helvetica,
    sans-serif;
    display: table;
    margin: 0 auto;
    color: white;
}

.texto {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: table;
    margin: 0 auto;
}

.line-separator {
    height: 1px;
    background: #717171;
    border-bottom: 1px solid #9b9b9b;
}

.contenedor {
     display: table;
     margin: 0 auto;
}

ion-content {
    --background: url('../../assets/img/bg.jpg') repeat 100% 100%;
}