<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">  
      <ion-button [hidden]="permisos == false" (click)="meniuR.open()">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
    <ion-title>Historial de reparaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" #meniuR>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> 
    <ion-list>      
          <ion-button color="primary" expand="block" [href]="'/historial-turnos'">
                <ion-icon slot="start" name="laptop"></ion-icon>
                <ion-label>
                   Administrar Turnos
                </ion-label>
              </ion-button>
              <ion-button color="primary" expand="block" (click)="anularFechas()">
                <ion-icon slot="start" name="calendar"></ion-icon>
                <ion-label>Anular fechas</ion-label>                
              </ion-button>
              <ion-button color="primary" expand="block" (click)="horariosTrabajo()">
                <ion-icon slot="start" name="code-working"></ion-icon>
                <ion-label>Horarios de trabajo</ion-label>
              </ion-button>
              <ion-button color="primary" expand="block" [href]="'/admnistrar-equipos'">
                <ion-icon slot="start" name="phone-portrait"></ion-icon>
                <ion-label>Administrar Equipos</ion-label>
              </ion-button>
              <ion-button color="primary" expand="block" [href]="'/administrar-reparaciones'">
                <ion-icon slot="start" name="construct"></ion-icon>
                <ion-label>Administrar Reparaciones</ion-label>
            </ion-button>
            <ion-button color="primary" expand="block">
              <ion-icon slot="start" name="list"></ion-icon>
              <ion-label>Administrar Estados</ion-label>
          </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet content></ion-router-outlet>

