<ion-header *ngIf="autenticado">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button *ngIf="permisos == true" icon-only (click)="meniu.open()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
    <ion-title>{{nombreUsuario}} este es tu historial 😉</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" #meniu>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button color="primary" expand="block" (click)="anularFechas()">
        <ion-icon slot="start" name="airplane"></ion-icon>
        Anular fechas
      </ion-button>
      <ion-button color="primary" expand="block" (click)="horariosTrabajo()">
        <ion-icon slot="start" name="code-working"></ion-icon>
        Horarios de trabajo
      </ion-button>
      <ion-button color="primary" expand="block" [href]="'/admnistrar-equipos'">
        <ion-icon slot="start" name="phone-portrait"></ion-icon>
        Administrar Equipos
      </ion-button>
      <ion-button color="primary" expand="block" [href]="'/administrar-reparaciones'">
        <ion-icon slot="start" name="construct"></ion-icon>
        Config. Reparaciones
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-content *ngIf="autenticado">
  <ion-grid>

    <ion-item color="light" *ngIf="permisos == true">
      <ion-row>
        <ion-col size="1">
          <mat-checkbox #check (click)="setFiltro(check.checked)" color="primary"></mat-checkbox>
        </ion-col>
        <ion-col >
          <mat-form-field>
            <input matInput [matDatepicker]="fc" placeholder="Selecciona una fecha" [value]="date.value" (dateChange)="actualizaFechaTurnos($event)"
              disabled>
            <mat-datepicker-toggle matSuffix [for]="fc"></mat-datepicker-toggle>
            <mat-datepicker #fc [disabled]="filtroFecha == false"></mat-datepicker>
          </mat-form-field>
        </ion-col>
        <ion-col size="4">
          <mat-form-field>
            <mat-select placeholder="Selecciona un estado" [(value)]="estado_reparacion" (selectionChange)="actualizaEstadoTurnos($event)">
              <mat-option *ngFor="let opcion of opciones" [value]="opcion">
                {{opcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-item>

  
<ion-card class="animated bounceInLeft" *ngFor="let turno of turnosPrevios | async" lines="inset" color="light">
  <ion-card-content>
        <ion-label>
          <p style="font-size: 12px; color:#488aff"><b>Fecha: {{turno.fecha_reparacion | date: 'dd/MM/yyyy'}} -
              {{turno.hora_reparacion}}hs</b></p>
          <p style="font-size: 14px;"><b>{{(turno.equipoRef | doc | async)?.descripcion}} {{turno.color}}</b></p>
          <p class="letra" style="font-size: 13px;">{{(turno.reparacionRef | doc | async)?.accion}} <b>→</b>
            {{turno.estado_reparacion_id}}</p>
          <div class="line-separator"></div>
          <br>
          <p class="letra" style="font-size: 12px;">Valor EFT ${{turno.valor_efectivo}}</p>
          <p class="letra" style="font-size: 10px;">Valor MP ${{turno.valor}}</p>
          <div *ngIf="permisos == true">
            <br>
            <p class="letra" style="color:#488aff">Solicita: {{turno.nombre_usuario}} - {{turno.email}} - Tel:
              {{turno.telefono}}</p>
          </div>
        </ion-label>
      
            <ion-button *ngIf="permisos == true" icon-only color="secondary" size="small" mat-raised-button matTooltip="Cambiar estado" (click)="selectReparacion.open()">
              <ion-icon name="open"></ion-icon>
            </ion-button>

            <ion-button icon-only size="small" mat-raised-button matTooltip="Generar Ticket" (click)="verTicket(turno.id)" *ngIf="permisos == true && selectReparacion.value != 'Pendiente'">
              <ion-icon name="list-box"></ion-icon>
              </ion-button>        
      
            <ion-button *ngIf="permisos == true" icon-only size="small" mat-raised-button matTooltip="Reprogramar turno" (click)="pickerDate.open()">
                <ion-icon name="time"></ion-icon>
              </ion-button>          
          
            <ion-button icon-only color="danger" size="small" mat-raised-button matTooltip="Cancelar turno" (click)="cancelaTurno(turno.id)">
              <ion-icon name="close"></ion-icon>
            </ion-button>        
      
        <mat-form-field hidden class="example-full-width">
          <input matInput [matDatepicker]="pickerDate" placeholder="Choose a date" (dateChange)="reprogramaTurno($event,turno.id)">
          <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickerDate></mat-datepicker>
        </mat-form-field>
        <ion-item hidden>
          <ion-label>Estado Reparacion</ion-label>
          <ion-select #selectReparacion placeholder="Selecciona una" value="estado_reparacion" (ionChange)="cambiaEstado(selectReparacion.value,turno.id,turno.fecha_reparacion,turno.hora_reparacion)">
            <ion-select-option *ngFor="let opcion of opciones" value="{{opcion}}">{{opcion}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="line-separator"></div>
        </ion-card-content>
      </ion-card>
   
  </ion-grid>
</ion-content>