<ion-header *ngIf="autenticado">
<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button icon-only (click)="meniu.open()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-buttons slot="end">
    <ion-button (click)="logOut()">
    <ion-icon name="log-out"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
    <ion-title>{{nombreUsuario}} este es tu historial 😉</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" #meniu>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
    <ion-button color="darkGray" expand="block">
      <ion-icon slot="start" name="settings"></ion-icon>
        Configurar
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-content padding *ngIf="autenticado">
  <ion-grid> 
      <ion-list inset="true" class="animated bounceInDown">
        <ion-item *ngFor="let turno of turnosPrevios | async" lines="inset">
          <ion-label>
            <p style="font-size: 13px; color:#488aff">Fecha: {{turno.fecha_reparacion | date: 'dd/MM/yyyy'}}</p>           
            <p style="font-size: 14px;"><b>{{(turno.equipoRef | doc | async)?.descripcion}} {{turno.color}}</b></p> 
            <p class="letra" style="font-size: 13px;">Reparacion {{turno.estado_reparacion_id}}</p>
          </ion-label>
          <ion-row>
            <ion-col>
              <ion-button icon-only size="small">
                <ion-icon name="time"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button icon-only color="danger" size="small">
              <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>  
        </ion-item>
      </ion-list>
  </ion-grid>
</ion-content>
