<ion-content>
  <ion-grid>
    <ion-item-divider color="primary">Desde aqui se puede ingresar un equipo sin turno previo</ion-item-divider>
    <ion-row>
      <ion-col>
        <ion-item>        
          <ion-label>Equipo a ingresar</ion-label>
          <ion-input id="equipo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>        
          <ion-label>Color del equipo</ion-label>
          <ion-input id="color"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <ion-item>        
          <ion-label>E-mail del clente</ion-label>
          <ion-input id="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <ion-item>        
          <ion-label>Nombre del cliente</ion-label>
          <ion-input id="nombreCliente"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ion-item>        
          <ion-label>Telefono del cliente</ion-label>
          <ion-input id="telefonoCliente"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <ion-item>        
          <ion-label>Reparacion</ion-label>
          <ion-input id="reparacion"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <ion-item>        
          <ion-label>Precio en efectivo</ion-label>
          <ion-input id="precioEF"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <ion-item>        
          <ion-label>Precio con MercadoPago</ion-label>
          <ion-input id="precioMP"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" shape="round" color="primary">Generar turno</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
